# sudo cp autoupdate-minecraft.service /etc/systemd/system/autoupdate-minecraft.service

[Unit]
Description=Minecraft server autoupdate
After=network.target

[Service]
Type=oneshot
ExecStart=python3 auto_updater/auto_updater.py
WorkingDirectory=/home/pi/minecraft-server/
StandardOutput=inherit
StandardError=inherit
Restart=no
RemainAfterExit=no
User=pi

[Install]
WantedBy=multi-user.target