# sudo cp autostart-minecraft.service /etc/systemd/system/autostart-minecraft.service
# test with: sudo service autostart-minecraft status/start/stop/restart
# Use system logs for debugging: sudo tail -f /var/log/syslog

[Unit]
Description=Minecraft server autostart
After=network.target
After=autoupdate-minecraft.service
Requires=autoupdate-minecraft.service
Requires=autoupdate-minecraft.timer

[Service]
Type=simple
ExecStart=python3 java-starter.py
WorkingDirectory=/home/pi/minecraft-server/
StandardOutput=inherit
StandardError=inherit
Restart=on-abort
RemainAfterExit=yes
User=pi

[Install]
WantedBy=multi-user.target