# sudo cp autostart-minecraft.service /etc/systemd/system/autostart-minecraft.service
# test with: sudo service autostart-minecraft status/start/stop/restart
# Use system logs for debugging: sudo tail -f /var/log/syslog

[Unit]
Description=Minecraft server autostart
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u auto_updater/auto_updater.py
WorkingDirectory=/home/pi/minecraft-server/
StandardOutput=inherit
StandardError=inherit
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target