# sudo cp autostart-minecraft.timer /etc/systemd/system/autostart-minecraft.timer
# activate starting on reboot: sudo systemctl enable autostart-minecraft.timer
# test: systemctl list-timers --all

[Unit]
Description=Minecraft server autostart timer

[Timer]
OnBootSec=20sec

[Install]
WantedBy=timers.target

# current issue: OnCalendar=hourly does nothing bc service is still running & doesn't run twice
# interesting discussion: https://askubuntu.com/questions/802189/how-to-run-tmux-screen-with-systemd-230
# idea for solution: divide into 2 services: 
# 1) autostart-minecraft (already existing) - only starts minecraft or leave as is
# 2) autoupdate-minecraft - checks for updates hourly