# sudo cp minecraft-server.service /etc/systemd/system/minecraft-server.service
# test with: sudo service minecraft-server status/start/stop/restart
# Use system logs for debugging: sudo tail -f /var/log/syslog
# systemd-analyze verify minecraft-server.service

[Unit]
Description=Minecraft server autostart
After=network.target
After=update-minecraft-server.service
Requires=update-minecraft-server.service
Requires=update-minecraft-server.timer
StartLimitIntervalSec=5min
StartLimitBurst=3


[Service]
Type=simple
ExecStart=python3 java-starter.py
WorkingDirectory=/home/pi/minecraft-server/
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=10s
RemainAfterExit=yes
User=pi

[Install]
WantedBy=multi-user.target